* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    width: 97vw;
    height: 97vh;
    position: fixed;
  }

.calculadora {
    max-width: 80%;
    width: 352px;
    border: solid 1px #dcdcdc;
    padding: 14px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    font-size: 28px;
}

.tela input {
    max-width: 100%;
    display: inline-block;
    width: 91%;
    height: 38px;
    background: #fefefe;
    border: solid 1px #b5b5b5;
    padding: 14px;
    cursor: auto;
    border-radius: 2px;
    font-size: 18px;
}

.tela input:focus {
    outline: none;
}

.operadores button {
    border: solid 1px #575757;
    display: inline-block;
    width: 23.1%;
    padding: 22px;
    margin: 4px 0px;
    background: #5b5b5b;
    border-radius: 2px;
}

.numeros button {
    border: solid 1px #4d4d4d;
    display: inline-block;
    width: 31.4%;
    padding: 18px;
    margin: 4px 0px;
    background: #3c3c3c;
    border-radius: 2px;
}

.numeros {
    display: inline-block;
}

.resultado button {
    width: 98%;
    height: 48px;
    margin: 8px 0;
    border: solid 1px #3c3c3c;
    background: #535353;
    border-radius: 2px;
    font-weight: bold;
    transition-duration: 0.2s;
}

button {
    cursor: pointer;
    color: white;
}

.operadores button:hover,
.numeros button:hover {
    background: #3c3c3c;
}

.operadores button,
.numeros button {
    transition-duration: 0.2s;
}

.resultado button:hover {
    background: #3c3c3c;
}

@media (max-width: 360px) {
    .operadores button {
        width: 48%;
    }

    .tela input {
        width: 89%;
    }
}